<%- include ('partials/header.ejs') %>
    <div>
        <h1>William Quiñones</h1>
        <h2>Books i've read</h2>
        <p>
            Resumen detallado de todos los libros que he leído. Se usará un código USBN para encotrar portadas de los libros que se añadan.
        </p>
        <form action="/newBook" method="get">
            <input type="submit" name="newBook" value="New Book">
        </form>
    </div>
    <hr>
    <%  for (let book of books){%>
    <div class="books">
        <section class="description">
            <img src="https://covers.openlibrary.org/b/id/<%= book.coverid%>-M.jpg" alt="Cubierta de Libro">
            <h2>
                    <a href="/book/<%= book.id %>/notes"><%= book.title%></a>
            </h2>
            <h3>
                <%= book.author %>
            </h3>
            <ul>
                <li>Date Read: <%= new Date()%></li>
                <li>Rate: <%= book.rate%>/5</li>
            </ul>
        </section>
        <p>
            <%= book.summary %>
        </p>
        <section class="notes">
            <form>
                <button type="submit" formaction="/book/<%=book.id%>/edit" formmethod="get">Edit</button>
                <button type="submit" formaction="/book/<%= book.id %>/delete" formmethod="get">Delete</button>
            </form>
        </section>
    </div>
    <hr>
    <% } %>
<%- include ('partials/footer') %>