<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Book Notes</title>
</head>
<body>

<div class="container">

    <h1><%= heading %></h1>
    <div class="box-form">
        <% if (locals.book) { %>
        <form class="form" action="/book/<%= book.id %>/edit" method="post">
            <input type="text" name="title" value="<%=book.title%>">
            <input type="text" name="summary" value="<%=book.summary %>">
            <input type="text" name="author" value="<%=book.author %>">
            <input type="number" name="rate" value="<%=book.rate %>">
            <button type="submit"><%=submit%></button>
        </form>
        <%} else if(heading == 'New Book'){%>
            <form class="form" action="/newBook" method="post">
                <input type="text" name="title" placeholder="Book title">
                <input type="text" name="summary" placeholder="Book summary">
                <input type="number" name="rate" placeholder="book rate" min="1" max="5">
                <button type="submit"><%=submit%></button>
            </form>
            
        <% } %>
        <%if(locals.note) {%>
            <form class="form"  action="/book/<%= bid%>/note/<%= nid %>/edit" method="post">
                <input type="text" name="content" value="<%=note.content%>">
                <input type="number" name="page" value="<%=note.page%>">
                <button type="submit"><%=submit%></button>
            </form>
            
        <% } else if(heading=='New Note') {%>
            <form class="form" action="/book/newNote/<%= id %>" method="post">
                <input type="text" name="content" placeholder="Note content">
            <input type="number" name="page" placeholder="Note page">
                <button type="submit"><%=submit%></button>
            </form> 
        <% } %>
    </div>
</div>
</body>

</html>